<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>iWeather | <%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5af3a5bd3b.js" crossorigin="anonymous"></script>
  </head>
  <nav class="d-flex navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="navbar-header">
        <h1 class="header">iWeather</h1>
      </div>
      <form action="/" method="post" class="form-inline">
        <input class="search mr-sm-2" type="text" placeholder="Enter a city name" name="cityName" aria-label="Search">
        <button class="search btn btn-sm mt-sm-2 btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- <nav class="navbar-light bg-secondary">
    <h1>iWeather</h1>
  </nav> -->

    <body>
      <div class=" bground body-container container">
